.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: #555;
}
